MONGO_URI=mongodb://admin:U6ztfh3JhnYBGJHy@ac-dqud2tt-shard-00-00.padppjt.mongodb.net:27017,ac-dqud2tt-shard-00-01.padppjt.mongodb.net:27017,ac-dqud2tt-shard-00-02.padppjt.mongodb.net:27017/?ssl=true&replicaSet=atlas-6q2hav-shard-0&authSource=admin&appName=Cluster0

PORT=5000